{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
News_id
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
    <h2>
        {{ post.title | censor }}
        <br>
        {{ post.data_time_creation | date:'d.M.Y H:m' }}
    </h2>
    <br>
    {{ post.text  | censor }}
    <br>
    <br>

    <form action="{% url 'post_news' %}">
        <button type="submit">К списку статей/новостей</button>
    </form>

{% if request.user.is_authenticated %}
        <p>
            {% for category in post.category.all %}
                {% if not category in user_category %}
                    Подписаться на категорию:
                    <a href="{% url 'subscribe' category.pk %}"><br>{{ category.name_category }}</a>
                {% else %}

                {% endif %}
            {% endfor %}

          {% for category in post.category.all %}
            {% if category in user_category %}
            Вы подписаны на категории:
            <a href="{% url 'subscribe' category.pk %}"><br>{{ category.name_category }}</a>
            {% else %}
            <br>
            <br>
            У Вас нет активных подписок
            {% endif %}
            {% endfor %}

        </p>
{% endif %}

{% endblock content %}
